[submodule "examples/demo-self-driving"]
	path = examples/demo-self-driving
	url = git@github.com:streamlit/demo-self-driving.git
[submodule "examples/llm-examples"]
	path = examples/llm-examples
	url = git@github.com:streamlit/llm-examples.git
[submodule "examples/Essay_Writing_Assistant"]
	path = examples/Essay_Writing_Assistant
	url = git@github.com:Chin-Wai-Yee/Essay_Writing_Assistant.git
[submodule "examples/CV-Extraction-and-Classification-Based-on-NLP"]
	path = examples/CV-Extraction-and-Classification-Based-on-NLP
	url = https://github.com/chaimabenabda2/CV-Extraction-and-Classification-Based-on-NLP.git
